<!DOCTYPE html>
<html lang="en">
<%- include("partials/head.ejs") %>

    <body class="account-page">
        <!--  -->
        <div id="global-loader">
            <div class="whirly-loader"> </div>
        </div>

        <!-- Main Wrapper -->
        <div class="main-wrapper">
            <div class="account-content">
                <form action="/sign-in" method="post">
                    <div class="login-wrapper align-center">
                        <div class="login-content align-center">
                            <div class="login-userset">

                                <a href="#" class="login-logo logo-white">
                                    <img src="/assets/img/logo.png" alt="logo" style="align-content: center; width: 350px; height: 100px;">
                                </a>
                                <div class="login-userheading text-center">
                                    <a href="/">
                                        <div class="container">
                                            <img src="/assets/img/logo.png" alt="logo" style="align-content: center; width: 350px; height: 100px;">
                                        </div><br>
                                    </a>
                                    <h2 class="" style="font-weight: bold;">Front Desk</h2>
                                    <small class="text-dark text-muted"><i>Sign In To Start Your Session</i></small><br>
                                </div>
                                <div class="form-login">
                                    <label class="bg-light">Username <span class="text-danger">*</span></label>
                                    <div class="form-addons">
                                        <input type="text" class="bg-light" name="username" placeholder="Email or Phone number" required>
                                        <img src="/assets/img/icons/mail.svg" alt="img">
                                    </div>
                                </div>
                                <div class="form-login">
                                    <label class="bg-light">Password <span class="text-danger">*</span></label>
                                    <div class="pass-group">
                                        <input type="password" class="bg-light" name="password" placeholder="Enter your password" required>
                                        <span class="fas toggle-password fa-eye-slash"></span>
                                    </div>
                                </div>
                                <div class="form-login">
                                    <div class="alreadyuser bg-light">
                                        <h4><a href="/forget-password" class="hover-a">Forgot Password?</a></h4>
                                    </div>
                                </div>
                                <div class="form-login float-right">
                                    <button type="submit" class="btn btn-login"><span
                                            class="fas fa-sign-in-alt"></span>&nbsp;Sign In</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- /Main Wrapper -->
        <%- include("partials/script.ejs") %>

        <!-- Flash -->
        <%- include("partials/flash.ejs") %>
        
        <!-- Script -->
        <%- include("partials/footer") %>
    </body>

</html>