<div class="header">
            
    <!-- Logo -->
     <div class="header-left active">
        <a href="/" class="logo logo-normal">
            <img src="/assets/img/logo.png"  alt="">
        </a>
        <a href="/" class="logo logo-white">
            <img src="/assets/img/logo.png"  alt="">
        </a>
        <a href="/" class="logo-small">
            <img src="/assets/img/logo.png"  alt="">
        </a>
    </div>
    <!-- /Logo -->
    
    <a id="mobile_btn" class="mobile_btn" href="#sidebar">
        <span class="bar-icon">
            <span></span>
            <span></span>
            <span></span>
        </span>
    </a>
    
    <!-- Header Menu -->
    <ul class="nav user-menu">

        <!-- Notifications -->
        <li class="nav-item dropdown">
            <a href="javascript:void(0);" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
                <img src="/assets/img/icons/notification-bing.svg" alt="img"> <span class="badge rounded-pill"><%= data['notifiy'] %></span>
            </a>
            <div class="dropdown-menu notifications">
                <div class="topnav-dropdown-header">
                    <span class="notification-title">Notifications</span>
                </div>
                <div class="noti-content">
                    <ul class="notification-list">
                        <li class="notification-message">
                            <%
                                let notifications = data["notifications"];
                                for(let n = 0; n < notifications.length; n++) {
                            %>
                                <a href="/s/reported-issue/<%= notifications[n]['deviceId'] %>">
                                    <div class="media d-flex">
                                        <span class="avatar flex-shrink-0">
                                            <img alt="" src="/assets/img/profiles/avatar-02.jpg">
                                        </span>
                                        <div class="media-body flex-grow-1">
                                            <p class="noti-details"><span class="noti-title"><%= notifications[n]['query'] %></span></p>
                                            <p class="noti-time"><span class="notification-time"><%= notifications[n]['date'] %></span></p>
                                        </div>
                                    </div>
                                </a>
                            <% } %>
                        </li>
                    </ul>
                </div>
                <div class="topnav-dropdown-footer">
                    <a href="/s/devices">View all Notifications</a>
                </div>
            </div>
        </li>
        <!-- /Notifications -->
        
        <li class="nav-item dropdown has-arrow main-drop">
            <a href="javascript:void(0);" class="dropdown-toggle nav-link userset" data-bs-toggle="dropdown">
                <span class="user-img"><img src="/assets/img/profiles/user.png" alt="">
                <span class="status online"></span></span>
            </a>
            <div class="dropdown-menu menu-drop-user">
                <div class="profilename">
                    <a class="dropdown-item" href="/profile"> <i class="me-2"  data-feather="user"></i>Profile</a>
                    <hr class="m-0">
                    <a class="dropdown-item logout pb-0" href="/logout"><img src="/assets/img/icons/log-out.svg" class="me-2" alt="img">Logout</a>
                </div>
            </div>
        </li>
    </ul>
    <!-- /Header Menu -->
    
    <!-- Mobile Menu -->
    <div class="dropdown mobile-user-menu">
        <a href="javascript:void(0);" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
        <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="/profile">Profile</a>
            <a class="dropdown-item" href="/logout">Logout</a>
        </div>
    </div>
    <!-- /Mobile Menu -->
</div>